<div class="user">
  <header class="user__header">
     
      <h1 class="user__title">Sing up</h1>
  </header>
  
  <form class="form">
    <div class="form__group">

      <input type="text" placeholder="First name" class="form__input" id="firstname"/>
     </div>

     <div class="form__group">
      <input type="text" placeholder="last name" class="form__input" />
     </div>

      <div class="form__group">
       <input type="text" placeholder="Username" class="form__input" />
      </div>
      
      <div class="form__group">
          <input type="password" placeholder="Password" class="form__input" />
      </div>
      
      <div class="form__group">
          <input type="text" placeholder="Birth Date" class="form__input" (click)="calender()"/>
      </div>
      
      <div class="form__group">
        <input type="text" placeholder="Country" class="form__input" />
       </div>
      <button class="btn" type="button" >Sign Up</button>
  </form>
</div>